# Xcode
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserdatad/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build products
build/
DerivedData/

# Temporary files
*.swp
*.tmp


## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM
